google-api-python-client
google-auth-httplib2
google-auth-oauthlib
requests_toolbelt
https://github.com/KurimuzonAkuma/pyrogram/archive/refs/tags/v2.1.23.zip
TgCrypto
telegraph[aio]
async-timeout
apscheduler 
cachetools 
aiofiles
requests
urllib3
uvloop
httpx
bs4
m3u8
python-dotenv
